apiVersion: v1
kind: Service
metadata:
  name: actividadu2lab-svc
  namespace: default
  labels:
    app: actividadu2lab
spec:
  type: NodePort
  selector:
    app: actividadu2lab
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30080
